body{
    min-width: 1280px;
    margin: 1px;
    background-color: white;
    font-family: monospace;
}

/*Navbar*/
    nav{
        height: 18px;
    }
    nav li{
        list-style: initial;
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 10px;
        padding-bottom: 21px;
        font-size: 14;
        color: darkgrey;
    }
    nav li:hover{
        color: rgb(238, 139, 138);
        box-shadow: 0 5px rgb(238, 139, 138);
    }
    nav li:last-child{
        color: rgb(238, 139, 138);
    }
    nav .left{
        float: left;
        margin-top: 10px;
        margin-left: 13px;
        font-size: 24;
        color: rgb(58, 58, 58);
        box-sizing: border-box;
        
    }
    nav .right{
        float: right;
        
        position: relative;
        right: 50px;
    }
/*end*/

/*Brand*/
    .brand{
        background-color: pink;
        height: 690px;
        background-image: url(./bk1.jpg);
        background-attachment: fixed;
        
        color: white;
        
    }
    .brand h1{
        width: intrinsic;
        position: relative;
        top: 35%;
        left: 10%;
        font-size: 60;
        font-weight: 300;
        font-family: sans-serif;
    }
    .brand p{
        width: intrinsic;
        position: relative;
        left: 10%;
        top: 30%;
        font-size: 24;
        font-weight: 100;
    }
    .brand input{
        position: relative;
        left: 10%;
        top: 220px;
        background-color: rgb(209, 79, 77);
        border: none;
        color: white;
        padding: 10px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    .brand input:hover{
        background-color: white;
        color: rgb(209, 79, 77);
        box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
/*end*/

/*slogan & description*/
    .description{
        height: 250px;
    }
    .description ul{
        margin: 0px;
        display: -webkit-flex;
        flex-flow: row wrap;
        justify-content: space-around;
        position: relative;
        height: 50%;
        padding: 0px;
    }
    .description ul:last-child{
        align-items: flex-start;
        
        top: 0%
    }

    .description li{
        list-style-type: none;
        text-align: center;
    
    }
    .description p{
        color: rgb(141,141,141);
        text-align: center;
        white-space: normal;
        width: 120px;
        margin: 0px;
    }
    .description li div{
        position: absolute;
        top: -50%;
        width: 64px;
        height: 64px;
    }

    .description img{
        height: 100%;
        width: 100%;
        position: relative;
        left: 50%;
        top: -50%;
    }
    .description img:hover{
        box-shadow: 1px 1px 4px 1px pink;
    }
    .description .slide{
        width: 1px;
        height: 60px;
        box-shadow: 1px 0px rgb(141,141,141);
    }

    .slogan{
        height: 360px;
        background-color: rgb(236,236,236);
    }
    .slogan h1{
        position: relative;
        margin: 0 auto;
        text-align: center;
        top: 150px;
        font-size: 50;
        color: rgb(161,161,161);

        font-weight: 400;
        font-family: sans-serif;
    }
    .slogan div{
        text-align: center;
        position: relative;
        top: 100px
    }
/*end*/

/*Find*/
    .find {
        height: 340px;
        background-color: pink;
        background-image: url(./bk2.jpg);
        /*background-attachment: fixed;
        background-position-x: -500px;
        background-position-y: -300px;*/
        background-attachment: scroll;
        background-position-x: -500px;
        background-position-y: -700px;
        background-size: 2670px 1545px;
        text-align: center;
        color: white;
    }
    .find h2{
        margin: 0px;
        padding-top: 60px;
    }
    .find hr{
        width: 31px;
        height: 4px;
        background-color: white;
        border: none
    }

    .find select{
        height: 35px;
        width: 240px;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-progress-appearance: none;
        background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center white;
    }
    .find>div{
        margin-top: 50px;
    }
    .find button{
        width: 240px;
        height: 35px;
        vertical-align: bottom;
        background-color: rgb(209, 79, 77);
        border: none;
        font-size: 15px;
        color: white;
        letter-spacing: 25px;
        padding-left: 25px;
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
    }
    .find button:hover{
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
        background-color: white;
        color: rgb(209, 79, 77);
    }
    .find button:active{
        opacity: 0.8;
        background-color: rgb(209, 79, 77);
        color: white;
    }
/*end*/

/*Activity*/

    .activity{
        height: 600px;
        background-color: rgb(243,243,243)；
    }
    .activity .container{
        padding: 80px 140px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        box-sizing: border-box;
        height: 100%;
    }
    .activity .sub-container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
    }
    .sub-container img{
        
        height: 80%;
        width: 216px;
        order: -1;
        box-shadow: 0px 0px 0px 10px white inset;
        background-image: url(./bk5.jpg);
        background-position-x: -320px;
        background-attachment: fixed;
    }
    .sub-container:hover img{
        order: 0;
    }
    .sub-container h1{
        margin: 5px;
        font-weight: 100;
        font-size: 15px;
    }
    .sub-container:hover h1{
        font-size: 22px;
        letter-spacing: 25px;
        margin: 0px;
        padding-left: 25px;
    }
    .sub-container p{
        margin: 0px;
        height: 5%;
        color: rgb(161,161,161);
    }
/*end*/

/*Times*/
    .times{
        height: 1080px;
        background-color: palegoldenrod;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .times .top,.times .bottom{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        
    }
    .times .top{height: 55%;} 
    .times .bottom{height: 45%;}
    .times .top .left{
        width: 66.7%;
        background-image: url(./bk5.jpg);
        background-attachment:  local;
        height: 100%;
        text-align: center;
        color: white;
        font-family: sans-serif;
        font-weight: 500;
    }
    .times .top .left p:first-child{
        font-size: 50px;
        margin-top: 120;
        margin-bottom: -31;
    }
    .times .top .left p:nth-child(2){
        font-size: 180px;
        margin: 0px;
    }
    .times .top .left p:nth-child(3){
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }
    .times .top .left p:nth-child(4){
        font-size: 24;
        font-weight: 300;
    }
    .times .top .tri{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 20px solid white;
        border-bottom: 10px solid transparent;
        position: relative;
        left: -20px;
        top: 300px
    }

    .times .top .right{
        width: 33.3%;
        background-color: white;
        text-align: center;
    }
    .times .top .right h1{
        font-family: sans-serif;
        font-weight: 300;
        margin-top: 120px;
    }
    .times .top .right p{
    
        text-align: left;
        /* margin-left: 70px; */
        line-height: 20px;
        color: grey;
        padding: 0 25%;
    }
    .times .top .right input{
        width: 100px;
        height: 30px;
        border: solid 1px rgb(209, 79, 77);
        background-color: white;
        color: rgb(209, 79, 77);
        margin: 30px;    
        font-size: 18px;
        transition-duration: 0.4s;
    }
    .times .top .right input:hover{
        background-color: rgb(209, 79, 77);
        color: white;
    }
    .times .right button{
        background-color: white;
        border: solid;
        border-width: 1px;
        height: 14px;
        width: 14px;
        border-color: grey;
        border-radius: 50%;
    }
    .times .right button:hover{
        background-color:grey;
        
    }
    .times .bottom>div{
        height: 100%;
        width: 33.3%;
        text-align: center;
    }
    .times .bottom h1{
        font-family: serif;
        font-size: 24px;
        font-weight: 400;
        margin-top: 40%;
    }
    .times .bottom hr{
        border: none;
        width: 31;
        height: 2px;
    }
    .times .bottom input{
        border: solid 1px;
        width:180px;
        height: 40px;
        font-size: 21;
        margin-top: 31px;
    }
    .times .bottom >div:nth-child(1) input,.times .bottom > div:nth-child(2) input:hover{
        background: rgb(209, 79, 77);
        border-color:white;
        color: white;
        
    }
    .times .bottom >div:nth-child(1){
        background-color: rgb(209, 79, 77);
        color: white;
    }
    .times .bottom >div:nth-child(1) hr{
        background-color: white;
    }
    .times .bottom > div:nth-child(2) input,.times .bottom >div:nth-child(1) input:hover{
        background: white;
        border-color:rgb(209, 79, 77);
        color: rgb(209, 79, 77);
        
    }
    .times .bottom >div:nth-child(2){
        background-color: white;
        color: rgb(209, 79, 77);
    }
    .times .bottom >div:nth-child(2) hr{
        background-color: rgb(209, 79, 77);
    }

    .times .bottom>div:last-child{
        background-image: url(./bk4.jpg);
        background-position-x: -345px;
    }
    .times .bottom .tri{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left : 20px solid white;
        border-bottom: 10px solid transparent;
        position: relative;
        left: 0px;
        top: 210px
    }
/*end*/

/*volunteer*/
    .volunteer{
        height: 750px;
        background-color: white;
    }
    .volunteer .top{
        text-align: center;
    }
    .volunteer h1{
    font-weight: 300;
        font-size: 20px;
        margin: 0px;
        padding-top: 120px  
    }
    .volunteer hr{
        width: 30px;
        border: none;
        background-color: red;
        height: 2px;
    }

    .volunteer p{
        font-size: 12px;
        color: rgb(161,161,161);
        padding-bottom: 100px;
    }
    .volunteer .lf{
        float: left;
        width: 25%;
        margin-left: 10%;
    }
    .lf h2{
        font-weight: 500;
        font-size: 15px;
        color: rgb(50, 54, 62);
    }
    .lf p{
        /*padding-bottom: 40px;*/
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 30px;
    }
    .lf a:link, .lf a:visited{
        color: rgb(50, 54, 62);
        vertical-align: bottom;
        float: right;
        font-size: 11px;
    }
    .lf .hidden{
        position: relative;
        top: 15;
        background-color: grey;
        color: white;
        text-align: center;
        visibility: collapse;
    }
    .lf a:hover ~ .hidden{
        visibility: visible;
    }
    .volunteer .rt{
        margin-left: 40%;
        
    }

    .volunteer input{
        background-color: rgb(237, 237, 239);
        border: none;
        height: 40px;
        width: 320px;
        padding: 15px;
        margin: 10px;
        
    }
    .volunteer textarea{
        height: 120px;width: 668px;
        border: none;
        
        background-color: rgb(237, 237, 239);
        margin: 10px;
        
        padding: 13px;
    }
    .volunteer .btn{
        width: 668px;
        font-size: 13px;
    }
    .volunteer .btn:hover{
        opacity: 0.6;
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.19);
    }

/*end*/

/*contact*/
    .contact{
        height: 360px;
        background-color: rgb(50, 54, 62);
        text-align: center;
    }
    .contact h1{
        color: rgb(235, 235, 235);
        padding-top: 100;
        margin: 0px;
        font-weight: 500;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .contact p{
        color: white;
        font-weight: 100;
        font-family: serif;
        font-size: 13px;
        margin-top: 3px;
    }
    .contact form{
        padding: 10px;
    }
    .contact .email{
        padding: 13px 13px;
        border: 0;
        border-radius: 1px 0 0 1px;
        width: 400px;
        font-size: 13px;
        margin: 0px;
    }
    .contact .email:focus{
        outline: 0px;
    }
    .contact .btn-email{
        margin-left: -10px;
        width:  80px;
        height: 42px;
        vertical-align: top;
        background-color: white;
        border: none;
        border-radius: 0px 1px 1px 0px;
    }
    .email:focus ~ .btn-email{
        background-color: rgb(111,114,120);
    }
    .btn-email div{
        color: white;
        font-size: 15px;
        letter-spacing: 10px;
        padding-left: 10px;
    }
    .contact img{
        width: 50px;
        height: 50px;
        margin:  10px;
    }
    .contact a:hover>img{
        box-shadow: 1px 1px 3px white;
    }
/*end*/

/*footer*/
    footer{
        height: 60px;
        background-color: rgb(47, 48, 56);
        vertical-align: middle;
        color: white;
    }
    footer :first-child{
        float: left;
        margin-top: 25px; 
        margin-left: 25px;
    }
    footer :last-child{
        float: right; 
        margin-right: 25px;
        font-size: 12px;
    }
    a:link,a:visited{
        color: white;
        text-decoration: blink;
    }
    a:hover,a:active{
        opacity: 0.9;
    }
/*footer*/